.nav {
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #dfdddd;
  transform: translateY(80px);
  animation: showNavBar 0.5s ease-out forwards;
  animation-delay: 0.3s;
}

@keyframes showNavBar {
  from {
    transform: translateY(80px);
  }
  to {
    transform: none;
  }
}

.nav .nav__list {
  display: flex;
  justify-content: space-around;
}
.nav i {
  font-size: 20px;
  transition: transform 0.5s ease-out;
}
.nav i:hover {
  transform: scale(1.1);
}
.nav .nav__list-link {
  position: relative;
}
.nav .nav__badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #dc5d46;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
