@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "reset.css";
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif sans-serif;
  background-color: #f8f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: #ee555d;
}
.phone {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 730px;
  background-color: #f8f8fa;
  border-radius: 60px;
  box-shadow: inset 2px 2px #f1f3f5, 20px 20px 20px 5px #bec4cf,
    -0.5px -0.5px 10px 5px #f1f1f7;
}
.recipes {
  position: relative;
  background-color: #f4f4f8;
  width: 350px;
  height: 700px;
  border-radius: 60px;
  padding: 0px 30px;
}
.header,
.recipes__pop,
.recipe__column-title,
.recipe__title {
  opacity: 0.7;
}
.header {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  margin-top: 40px;
}
.recipes__title {
  padding: 15px 0px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.recipes__imgs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.recipes__img_1,
.recipes__img_2,
.recipes__img_3,
.recipes__img_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(241, 241, 241);
  opacity: 0.9;
  font-size: 12px;
  width: 135px;
  height: 90px;
  margin: 8px 3px;
  background-color: red;
  border-radius: 10px;
}
.recipes__img_1 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(1, 1, 1, 0.7) 80%
    ),
    url(../images/hc.jpg);
  background-size: cover;
}
.recipes__img_2 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(1, 1, 1, 0.7) 80%
    ),
    url(../images/pr.jpg);
  background-size: cover;
}
.recipes__img_3 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(1, 1, 1, 0.7) 80%
    ),
    url(../images/fb.jpg);
  background-size: cover;
}
.recipes__img_4 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(1, 1, 1, 0.7) 80%
    ),
    url(../images/sr.jpg);
  background-size: cover;
}

.recipe__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 30px 15px;
  margin: 10px 0px;
}
.recipe__column:first-child {
  margin-top: 15px;
}
.recipe__title {
  font-size: 14px;
  margin: 10px 0px;
}
.recipe__column-title {
  display: block;
}
.recipe__column-explan {
  opacity: 0.4;
  font-size: 13px;
}
.recipes__nav {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  font-size: 23px;
  width: 100%;
  height: 60px;
  background-color: white;
  border-radius: 5px 5px 60px 60px;
  color: rgb(138, 131, 131);
  box-shadow: 0px -10px 50px -10px rgb(187, 186, 186);
}
.iphone_header {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  position: absolute;
  top: 20px;
  width: 200px;
  height: 30px;
  border-radius: 0px 0px 20px 20px;
  background-color: #f8f8fa;
}
